@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: #f5bc19;
    --white: #ffffff;
    --secondary: #f6f2e6;
    --primary: #ca2028;

    --background: var(--secondary);
    --foreground: var(--primary);
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply transition-all duration-300 ease-in-out;
  }
}
